<<<<<<< HEAD
div.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background: #eceeef;
    padding: 2em;
}

.sectionDark {
    background: #ccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background: red;
    color: #fff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}

.footerImg {
    padding: 10px;
}

.fab {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #fff;
}

.socialWrapper {
    margin: auto;
=======
div.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background: #eceeef;
    padding: 2em;
}

.sectionDark {
    background: #ccc;
    padding: 2rem;
}

.coolStuffWrapper {
    margin-top: 20px;
}

button.coolStuffBtn {
    background: red;
    color: #fff;
    display: block;
    margin: auto;
}

h5.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
}

.footerImg {
    padding: 10px;
}

.fab {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: #fff;
}

.socialWrapper {
    margin: auto;
>>>>>>> 6c11caa075c7ad183166885aebb24c5e22c92e7f
}